body {
  background-color: #fcf8f3;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  border-color: #deddfa;
  width: 15%;
}

.introduction {
  text-align: center;
}

.parts {
  margin-left: 35%;
  padding: 5px;
  display: inline;
}

.part3{
  margin-left: 0;
  margin-bottom: 10px;
}

#info1 {
  margin-left: 2%;
  display: inline;
}

#para1 {
  display: inline;
}

#info2 {
  margin-left: 2%;
  display: inline;
}

#para2 {
  display: inline;
}

#info4 {
  margin-left: 2%;
  display: inline;
}

#para4 {
  font-size: 18px;
  display: inline;
}
